@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bgr-gradient: linear-gradient(to left, #4c46f5, #3b82f6);
}

/* Navbar Styling */
.nav-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-glass {
    backdrop-filter: saturate(180%) blur(20px);
}

.nav-hover li > a:hover {
    color: #e3e3e3;
}

body {
    background-image: url("/assets/bckg.jpg");
}

.nav-hover li > a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #e3e3e3;
    transition: width .3s;
}
.nav-hover li > a:hover::after {
    width: 100%;
    transition: width .3s;
}

/* Jumbotron Styling */
.text-ag-emphasis {
    background-color: linear-gradient(#e2c479, #debd68, 	#dbb658, #c5a34f, #af9146);
}

/* Gradient color for completed step indicators */
.bgr-app-gradient {
    background: var(--bgr-gradient);
}
